<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhf.webfont.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.zhf.webfont.po.Article">
        <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="sortId" column="sort_id" jdbcType="VARCHAR"/>
        <result property="readCount" column="read_count" jdbcType="INTEGER"/>
        <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
        <result property="storeCount" column="store_count" jdbcType="INTEGER"/>
        <result property="titleState" column="title_state" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,title,img,
        summary,content,creator_id,
        create_time,sort_id,
        read_count,like_count,store_count,
        title_state,score,update_time
    </sql>

    <resultMap id="ArticleListShowParamMap"
               type="com.zhf.webfont.bo.ArticleListShowParam"
               extends="BaseResultMap">
        <result property="sortName" column="sort_name" jdbcType="VARCHAR"/>
        <result property="creatorName" column="creator_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getArticleListShowParamList" resultMap="ArticleListShowParamMap"
            parameterType="com.zhf.webfont.bo.ArticleListParam">
        select
            a.uuid,title,img,
            summary,content,creator_id,
            a.create_time,sort_id,
            read_count,like_count,store_count,
            title_state,score,a.update_time,
            s.sort_name,
            u.username creator_name
        from wf_article a
        join wf_sort s on s.uuid = a.sort_id
        left join wf_user u on a.creator_id = u.uuid
        <if test="articleParam.sortRoute != null">
            where s.route_name = #{articleParam.sortRoute}
        </if>
    </select>


</mapper>
