<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhf.webfont.mapper.ArticleClickRelationMapper">

    <resultMap id="BaseResultMap" type="com.zhf.webfont.po.ArticleClickRelation">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="articleId" column="article_id" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,user_id,article_id,
        state,create_time,update_time
    </sql>
    <select id="selectLikeNotification" resultType="com.zhf.webfont.po.ArticleClickRelation">
        select
            acr.*
        from wf_article_click_relation acr
        where acr.article_id in (select a.uuid from wf_article a where creator_id = #{userId})
            and acr.state = 1
        order by acr.update_time desc
    </select>
</mapper>
